<div id="<%= dom_id unidade %>" class="show-card">
  <h3 class="unit-name"><%= unidade.nome %></h3>
  
  <div class="card-actions">
    <%= link_to "Visualizar Unidade", unidade, class: "button card-button" %>
  </div>
</div>
