<% content_for :title, "Editar unidade" %>

<div class="form-container">
  <h1 class="show-titulo">Editar unidade</h1>

  <%= render "form", unidade: @unidade %>
  
  <div class="form-links">
    <%= link_to "Mostrar unidade", @unidade, class: "button" %>
    <%= link_to "Voltar", unidades_path, class: "button" %>
  </div>
</div>
