<% content_for :title, "Editando unidade" %>

<h1>Editing unidade</h1>

<%= render "form", unidade: @unidade %>

<br>

<div>
  <%= link_to "Mostrar unidade", @unidade, class: "button" %> |
  <%= link_to "Unidades", unidades_path, class: "button" %>
</div>
