<p style="color: green"><%= notice %></p>

<% content_for :title, "Unidades" %>

<h1 class="show-titulo">Unidades</h1>

<div id="unidades">
  <% @unidades.each do |unidade| %>
    <%= render unidade %>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "Nova Unidade", new_unidade_path, class: "button2" %>
</div>

