<% content_for :title, "Nova unidade" %>

<div class="form-container">
  <h1 class="show-titulo">Nova unidade</h1>

  <%= render "form", unidade: @unidade %>
  
  <div class="form-links">
    <%= link_to "Voltar", unidades_path, class: "button" %>
  </div>
</div>
