<% content_for :title, "Cadastrar guarda" %>

<h1 class= "show-titulo">Cadastrar guarda</h1>

<%= render "form", guarda: @guarda %>

<br>

<div>
  <%= link_to "Guardas", guardas_path, class: "button" %>
</div>
