<% content_for :title, "Cadastrar guarda" %>

<div class="form-container">
  <h1 class="show-titulo">Cadastrar guarda</h1>

  <%= render "form", guarda: @guarda %>
  
  <div class="form-links">
    <%= link_to "Voltar", guardas_path, class: "button" %>
  </div>
</div>
