<div id="<%= dom_id equipe %>", class= "show">
  <p class="show-nome">
    <strong>Nome:</strong>
    <%= equipe.nome %>
  </p>

  <p class="show-nome">
    <strong>Unidade:</strong>
    <%= equipe.unidade_id %>
  </p>

</div>
