<% content_for :title, "Editar equipe" %>

<h1>Editar equipe</h1>

<%= render "form", equipe: @equipe %>

<br>

<div>
  <%= link_to "Mostrar equipe", @equipe, class: "button" %> |
  <%= link_to "Equipes", equipes_path, class: "button" %>
</div>
