<p style="color: green"><%= notice %></p>

<% content_for :title, "Equipes" %>

<h1 class="show-titulo">Equipes</h1>

<div id="equipes">
  <% @equipes.each do |equipe| %>
    <%= render equipe %>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "Cadastrar Equipe", new_equipe_path, class: "button2" %>
</div>
