<% content_for :title, "Cadastrar equipe" %>

<div class="form-container">
  <h1 class="show-titulo">Nova equipe</h1>

  <%= render "form", equipe: @equipe %>
  
  <div class="form-links">
    <%= link_to "Voltar", equipes_path, class: "button" %>
  </div>
</div>
