<% content_for :title, "Editar despacho" %>

<div class="form-container">
  <h1 class="show-titulo">Editar despacho</h1>

  <%= render "form", despacho: @despacho %>
  
  <div class="form-links">
    <%= link_to "Mostrar despacho", @despacho, class: "button" %>
    <%= link_to "Voltar", despachos_path, class: "button" %>
  </div>
</div>
