<% content_for :title, "Editing despacho" %>

<h1>Editing despacho</h1>

<%= render "form", despacho: @despacho %>

<br>

<div>
  <%= link_to "Show this despacho", @despacho %> |
  <%= link_to "Back to despachos", despachos_path %>
</div>
