<% content_for :title, "Editando despacho" %>

<h1>Editando despacho</h1>

<%= render "form", despacho: @despacho %>

<br>

<div>
  <%= link_to "Mostrar despacho", @despacho, class: "button" %> |
  <%= link_to "Despachos", despachos_path, class:"button" %>
</div>
