<% content_for :title, "Novo despacho" %>

<h1 class="show-titulo">Novo despacho</h1>

<%= render "form", despacho: @despacho %>

<br>

<div>
  <%= link_to "Despachos", despachos_path, class:"button" %>
</div>
