<% content_for :title, params[:tipo] == "Devolução" ? "Nova devolução" : "Novo empréstimo" %>

<div class="form-container">
  <h1 class="show-titulo"><%= params[:tipo] == "Devolução" ? "Nova devolução" : "Novo empréstimo" %></h1>

  <%= render "form", despacho: @despacho %>
  
  <div class="form-links">
    <%= link_to "Voltar", despachos_path, class: "button" %>
  </div>
</div>
