<div id="<%= dom_id arma %>" class="show">
  <p class="show-nome">
    <strong>Modelo:</strong>
    <%= arma.modelo %>
  </p>

  <p class="show-nome">
    <strong>Registro:</strong>
    <%= arma.registro %>
  </p>

  <p class="show-nome">
    <strong>Emprestada:</strong>
    <%= arma.emprestada %>
  </p>

</div>
