<p style="color: green"><%= notice %></p>

<% content_for :title, "Armas" %>

<h1 class="show-titulo">Armas</h1>

<div id="armas">
  <% @armas.each do |arma| %>
    <%= render arma %>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "Cadastrar arma", new_arma_path, class: "button2" %>
</div>
