<% content_for :title, "Cadastrar arma" %>

<div class="form-container">
  <h1 class="show-titulo">Cadastrar arma</h1>

  <%= render "form", arma: @arma %>
  
  <div class="form-links">
    <%= link_to "Voltar", armas_path, class: "button" %>
  </div>
</div>
