/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Centralizar o conteúdo */

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.button2{
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #1db32a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.button2:hover {
  background-color: #03a311;
}
.button3{
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.button3:hover {
  background-color: #9e0303;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 70vh;
}

.field{
  padding: 10px;
}
.field-text{
  text-align: center;
  justify-content: center;

}

.actions{
  justify-content: center;
  align-items: center;
  display: flex;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.show{
  padding: 1px;
  border-radius: 5px;
  background-color: #686a76;
}

.show-nome{
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}

.show-titulo{
  padding: 5px;
  border-radius: 5px;
  display: flex;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(135, 130, 130), rgb(29, 29, 82));
  color: white;
}

.input-centralizado {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%; /* Ajuste conforme necessário */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none; /* Remove o estilo padrão do navegador */
  background-color: #fff; /* Adicione uma cor de fundo */
}

.dropdown-wrapper {
  position: relative;
  width: 100%; /* Ajuste conforme necessário */
  margin: 0 auto;
}

.dropdown-wrapper select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
}

.checkbox-centralizado {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.checkbox-centralizado input[type="checkbox"] {
  margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
}